extends layout

block content
  h1.center Lachlan Campbell
  img(alt="Portrait" src="http://d1fmxjrxw87eps.cloudfront.net/portrait.jpg").sm-hide.portrait
  <p>My name is Lachlan Campbell. I'm a hacker and designer for the web, working with typography, web design, and Rails. Currently working on <a href="http://www.getnoodl.es/">Noodles</a>, a simple app to help you cook better. Still in middle school.
  br
  each article in articles
    section.articles.center.block
      a(href=article.url).dark
        h3.text-header.mb0= article.title
        p.dkgy= moment.utc(article.date).format('MM/D/YYYY')
