extends layout

block content
  section.bio.mb-large
    img(alt="Portrait" src="http://d1fmxjrxw87eps.cloudfront.net/me.png").sm-hide.portrait.left.mr-large
    div.left.mt-large
      h2 Lachlan Campbell
      p.light Hacker + designer for the web.
  h2.mt-huge.regular Articles
  each article in articles
    h3
      a(href=article.url).bold= article.title
      span.dkgy  &ndash;
        != moment.utc(article.date).format(' MMMM D')
