extends layout

block content
  h1.center Lachlan Campbell
  img(alt="Portrait" src="http://d1fmxjrxw87eps.cloudfront.net/portrait.jpg").sm-hide.lg-col-3.md-col-3.right.ml3.mb1
  <p>My name is Lachlan Campbell. I'm a hacker and designer for the web, working with typography, web design, and Rails. Currently working on <a href="http://www.getnoodl.es/">Noodles</a>, a simple app to help you cook better. Still in middle school.
  h1.block.mt4.center Blog
  each article in articles
    section.articles
      a(href=article.url).dark
        h3.section-header.mt2.mb0= article.title
        small= moment.utc(article.date).format('MMMM DD, YYYY')
