doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title= locals.name
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      script(src='http://use.typekit.net/oca8yet.js')
      script try{Typekit.load();}catch(e){}
      link(rel='stylesheet', href='http://brick.a.ssl.fastly.net/Roboto:300')
      link(rel='stylesheet', href='/css/main.css')
        
  body
    header(onclick='window.location="/"').py4.mb3.white
      h1.mt2
        span(title='@lachlanjc') Lachlan Campbell
        is a
        span(title='Web + drawings')  designer,
        span(title='Rails, Front-end, SCSS, CoffeeScript, Jade')  hacker, and 
        span(title='Not optional.') middle schooler.
      h3.my1.lighter-gray Currently working on
        a(href='http://www.getnoodl.es', title='A simple app app for all your recipes.').lighter-gray  Noodles.
      section.h5
        a(href='https://twitter.com/lachlanjc/').mr3 Twitter
        a(href='https://github.com/lachlanjc/').mr3 GitHub
        a(href='https://dribbble.com/lachlanjc/').mr3 Dribbble
        a(href='mailto:lachlan.campbell@icloud.com').mr3 Email
    main.container
      block content
    footer.container.center.light-gray
      block footer
        p &copy; #{ new Date().getFullYear() } Lachlan Campbell &mdash; built with&nbsp;
          a(href='https://github.com/jnordberg/wintersmith') Wintersmith
