doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      meta(name='viewport', content='width=device-width')
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/main.css')
      script !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window,document,'script','_gs');_gs('GSN-128522-S');

  body.mx-auto
    header.container
      nav.right
        a(href='/') Home
        a(href='/about') About
        a(href='/portfolio') Portfolio
    main.container.mt-large
      block content
    footer.container
      hr
      <small>Hey, I'm Lachlan. I design and hack apps, currently <a href="http://www.getnoodl.es/">Noodles</a>. Still in middle school.</small>
      small &copy; #{ new Date().getFullYear() } Lachlan Campbell, unless indicated otherwise.
