@import "basscss/basscss";
@import "defaults";

div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"] {
  box-sizing: border-box;
}

.ultra {
  font-weight: $bold-font-weight;
}

.sans {
  font-family: $heading-font-family;
}

.avatar {
  width: 120px;
}

footer a {
  color: darken($gray, 12%);
}
