
// Converted Variables

$aqua: #7fdbff;

// $blue: #0074d9;
$blue: #2196F3;
$light-blue: saturate(lighten($blue, 18%), 8%);

$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #a5abb3;
$gray: #666d78;
$black: #4b5058;
$font-family: Georgia, serif;
$line-height: 1.6;
$heading-font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
$heading-font-weight: 600;
$heading-line-height: 1.25;
$monospace-font-family: 'Source Code Pro', Consolas, monospace;
$h1: 2.6rem;
$h2: 2rem;
$h3: 1.6rem;
$h4: 1.25rem;
$h5: 1rem;
$h6: .6rem;
$bold-font-weight: 600;
$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: .5rem;
$form-field-padding-x: .5rem;
$button-font-size: inherit;
$button-font-weight: bold;
$button-line-height: 1.125rem;
$button-padding-y: .5rem;
$button-padding-x: 1rem;
$container-width: 64em;
$black: #222;
$dark-gray: $black;
$mid-gray: $gray;
$light-gray: $silver;
$lighter-gray: #e7e9eb;
$darken-1: rgba(#000,.0625);
$darken-2: rgba(#000,.125);
$darken-3: rgba(#000,.25);
$darken-4: rgba(#000,.5);
$border-width: 1px;
$border-radius: 3px;
$border-color: $darken-2;
$hover-background-color: $darken-1;

$breakpoint-sm: '(min-width: 40em)';
$breakpoint-md: '(min-width: 52em)';
$breakpoint-lg: '(min-width: 64em)';

/*
   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
